@import 'variables';
@import 'mixins';

.privacy {
  &__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__block {
    margin-bottom: 20px;
  }
  &__items {
    line-height: 1.7;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}
