@import 'variables';
@import 'mixins';

.header {
  padding: 16px 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: $color-mainBackground;
  &__toolbar {
    background-color: $color-mainBackground;
    padding: 0 24px;
    @include sm {
      padding: 0 8px;
    }
  }
  &__logo {
    font-family: $font-logo;
    font-weight: 700;
    font-size: 24px;
    color: $color-main;
    padding: 8px;
  }
  &__spacer {
    flex: 1 1 auto;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__createButton {
    border-color: rgb($color-font, 0.12);
    background-color: #fff;
    color: $color-font;
    margin-right: 24px;
    padding: 4px 8px;
    @include sm {
      margin-right: 8px;
    }
  }
  &__icon {
    color: #6b6b6b;
  }
  &__icon--shade {
    color: #bdbdbd;
  }
  &__signup {
    margin-right: 24px;
    @include sm {
      margin-right: 8px;
    }
  }
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    background: #fff center/cover;
  }
  &__login {
    color: $color-font;
    border-color: rgb($color-font, 0.12);
    background-color: #fff;
  }
  &__matMenuIcon {
    color: $color-font;
  }
  &__matMenuButton {
    color: $color-font;
  }
}
