<header class="header">
  <hr class="header__bar" />
  <mat-toolbar>
    <span><h1 class="header__logo" routerLink="/list">blanky</h1></span>
    <span class="header__spacer"></span>

    <div class="header__nav" *ngIf="user$ | async as user; else showLogin">
      <button
        [disabled]="
          (isPremium && user.createdQuestionNum > 9) ||
          (!isPremium && user.createdQuestionNum > 2)
        "
        mat-raised-button
        class="header__button"
        routerLink="/create"
      >
        <mat-icon class="header__icon">create</mat-icon> 問題を作成する
      </button>

      <button
        class="header__avatar"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [style.background-image]="'url(' + user.avatarURL + ')'"
      ></button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/setting">
          <mat-icon>settings</mat-icon>
          <span>設定</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>ログアウト</span>
        </button>
      </mat-menu>
    </div>

    <ng-template #showLogin>
      <button
        (click)="login()"
        mat-raised-button
        class="header__registration-button"
      >
        ログイン
      </button>
    </ng-template>
  </mat-toolbar>
</header>
