<footer class="footer">
  <ul class="footer__links">
    <li class="footer__item">
      <a class="footer__link" routerLink="/terms">利用規約</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" routerLink="/privacy">プライバシーポリシー</a>
    </li>
    <li class="footer__item">
      <a
        class="footer__link footer__question"
        target="_blank"
        href="https://forms.gle/tNVEj3MxTmQEHcj96"
        >お問い合わせ</a
      >
    </li>
  </ul>
  <div class="footer__copyright-block">
    <p class="footer__copyright">copyright©︎ TatsuyaSSK All rights reserved</p>
  </div>
</footer>
