@import 'variables';
@import 'mixins';

.footer {
  display: block;
  padding: 40px 0;
  background-color: $color-footer;
  font-size: 12px;
  @include sm {
    font-size: 10px;
  }
  &__links {
    margin-bottom: 30px;
    list-style-type: none;
    text-align: center;
    padding: 0;
  }
  &__item {
    position: relative;
    display: inline-block;
    padding: 0 10px;
  }
  &__item:not(:last-child)::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 14px;
    background-color: #555;
    @include sm {
      height: 12px;
    }
  }
  &__link {
    line-height: 1;
  }
  &__link:hover {
    color: $color-sub;
  }
  &__question::after {
    font-family: Material Icons;
    content: 'launch';
    display: inline-block;
    transform: translateY(0.15em);
    text-decoration: none;
  }
  &__copyright-block {
    text-align: center;
  }
  &__copyright {
    margin: 0;
    padding: 0;
  }
}
