<div class="container">
  <h1 class="title">問題：{{ problem.title }}</h1>

  <div class="box" *ngIf="display === false">
    <h2 class="box__item">英文</h2>
    <form name="problems" autocomplete="off">
      <span *ngFor="let i of wordIndexList">
        <span class="word" *ngIf="!blankList[i]">
          {{ englishTextList[i] }}
        </span>
        <span class="word" *ngIf="blankList[i]">
          <span
            *ngIf="
              englishTextList[i].slice(-1) === ',' ||
              englishTextList[i].slice(-1) === '.'
            "
          >
            <input
              name="{{
                englishTextList[i].slice(0, englishTextList[i].length - 1)
              }}"
              type="text"
              size="{{ wordLengthList[i] }}"
            />
            <span>{{ englishTextList[i].slice(-1) }}</span>
          </span>

          <input
            *ngIf="
              englishTextList[i].slice(-1) !== ',' &&
              englishTextList[i].slice(-1) !== '.'
            "
            name="{{ englishTextList[i] }}"
            type="text"
            size="{{ wordLengthList[i] + 1 }}"
          />
        </span>
      </span>
    </form>
    <h2 class="box__item">和訳</h2>
    <p>
      {{ problem.japaneseText }}
    </p>
    <div class="button-layout">
      <button class="box__button" mat-raised-button (click)="onSubmit()">
        回答する
      </button>
    </div>
  </div>
  <app-answer
    *ngIf="display === true"
    [wordIndexList]="wordIndexList"
    [blankList]="blankList"
    [englishTextList]="englishTextList"
    [filledDict]="filledDict"
    [answerDict]="answerDict"
    [wordLengthList]="wordLengthList"
    [correctAnswerRate]="correctAnswerRate"
    [problemNum]="problemNum"
    [correctAnswerNum]="correctAnswerNum"
    (transitioned)="onTransitioned($event)"
  ></app-answer>
</div>
