<div class="container">
  <h1>問題：{{ problem.title }}</h1>

  <div class="border" *ngIf="display === false">
    <div class="box">
      <h2 class="box__item">英文</h2>
      <form (ngSubmit)="onSubmit($event)">
        <span *ngFor="let i of wordLengthList">
          <span class="word" *ngIf="!blankList[i]">{{
            englishTextList[i]
          }}</span>
          <input
            class="word"
            name="{{ englishTextList[i] }}"
            *ngIf="blankList[i]"
            type="text"
            size="10"
          />
        </span>
        <button>回答する</button>
      </form>
      <h2 class="box__item">和訳</h2>
      <p>
        {{ problem.japaneseText }}
      </p>
      <div class="button-layout">
        <button class="box__button" mat-raised-button>回答する</button>
      </div>
    </div>
  </div>
</div>
