@import 'variables';
@import 'mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: auto;
  grid-gap: 60px 40px;
  padding: 40px 32px;
  @include sm {
    padding: 40px 0;
    justify-content: center;
  }
}

.notFound {
  margin-top: 40px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.notFound-button {
  display: block;
  margin: 0 auto;
  border-color: rgb($color-font, 0.12);
  background-color: #fff;
  color: $color-font;
  padding: 4px 8px;
}
