<div class="wrapper">
  <div class="container">
    <h1 class="title">料金プラン</h1>
    <div class="plans">
      <div class="plans__card">
        <h2 class="plans__title">フリープラン</h2>
        <p class="plans__price">無料</p>
        <div class="plans__border"></div>
        <div class="plans__itemWrapper">
          <p class="plans__item">ランダムに穴埋め問題作成可能</p>
          <p class="plans__item">1日3回まで問題作成可能</p>
        </div>
      </div>
      <div class="plans__card">
        <h2 class="plans__title">プレミアムプラン</h2>
        <p class="plans__price">550円 / 月</p>
        <div class="plans__border"></div>
        <div class="plans__buttonWrapper"></div>
        <div class="plans__itemWrapper">
          <p class="plans__item">ランダムに穴埋め問題作成可能</p>
          <p class="plans__item">品詞を指定して問題作成可能</p>
          <p class="plans__item">1日10回まで問題作成可能</p>
        </div>
      </div>
    </div>
  </div>
</div>
