@import 'variables';
@import 'mixins';

.planContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  min-height: calc(100vh - 120px);
  padding: 80px 24px 120px 24px;
  @include sm {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    padding: 80px 16px 120px 16px;
  }
}

.title {
  font-size: 32px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 40px;
  color: $color-main;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  @include sm {
    flex-direction: column;
  }
  &__card {
    padding: 16px;
    margin: 0 16px;
    width: 312px;
    min-width: 312px;
    height: 380px;
    box-shadow: 0 12px 30px rgb(0 0 0 / 15%);
    border-radius: 12px;
    text-align: center;
    background-color: $color-background;
    position: relative;
    @include sm {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-size: 24px;
    margin: 10px auto;
  }
  &__price {
    margin: 0;
    font-size: 24px;
  }
  &__border {
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: $color-border;
    opacity: 0.5;
  }
  &__button {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    padding: 4px 8px;
    font-size: 16px;
  }
  &__itemWrapper {
    margin-top: 40px;
    text-align: center;
    list-style: none;
  }
  &__item {
    padding: 0;
    margin-top: 10px;
  }
  &__signup {
    display: block;
    margin: 0 auto;
  }
}
