<div class="container">
  <div class="main_visual_container">
    <div class="title_message">
      <h1>オリジナルの英語問題を瞬時に作成</h1>
      <p>
        blankyは、英語の文章をアップロードするだけで
        あなただけのオリジナルの英語問題を作成すること ができるサービスです。
      </p>
      <p>
        興味のある文章を使って英語を学習することで、
        あなたの英語学習を促進します。
      </p>
      <div class="center">
        <button class="login_button" mat-raised-button>
          ログインして始める
        </button>
      </div>
    </div>
    <img class="main_visual" src="/assets/images/study.png" alt="" />
  </div>

  <hr />

  <div class="description">
    <h2 class="description__title">たったの3stepで学習をスタートできます</h2>

    <div class="description__part">
      <img class="sub_visual" src="/assets/images/study.png" alt="" />
      <div class="sentence">
        <div class="sentence__bd">
          <h4>英文をアップロード</h4>
          <p>
            あなたの好きな小説の一節、好きなハリウッド俳優の
            独占インタビューなど、あなたが学習に使いたい英文
            をコピー、アップロードしてください
          </p>
        </div>
      </div>
    </div>

    <div class="description__part">
      <img class="sub_visual" src="/assets/images/study.png" alt="" />
      <div class="sentence sentence--image-right">
        <div class="sentence__bd">
          <h4>問題形式を指定</h4>
          <p>
            名詞だけを覚えたい、形容詞を集中的に勉強したい
            そんな要望に合わせ、英語問題をどのような形式
            で作成するか指定することができます。
          </p>
        </div>
      </div>
    </div>

    <div class="description__part">
      <img class="sub_visual" src="/assets/images/study.png" alt="" />
      <div class="sentence">
        <div class="sentence__bd">
          <h4>オリジナルの問題に取り組む</h4>
          <p>
            問題を作成したら、マイページからオリジナルの問題
            に取り組みましょう。和訳もついているので、参考
            にしながら解き進めることができます。
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
