<div class="container">
  <div class="spacer">
    <form class="search">
      <button class="search__button"><mat-icon>search</mat-icon></button>
      <input
        type="text"
        class="search__input"
        autocomplete="off"
        placeholder="タイトル、英単語など"
        [formControl]="query"
        (input)="search($event)"
      />
    </form>
  </div>
  <mat-tab-group
    class="tab"
    (selectedTabChange)="setProblemsbyType($event)"
    animationDuration="0ms"
  >
    <mat-tab label="ランダム">
      <div *ngIf="!isQuery; else showResult">
        <app-cards [problems]="problems" [type]="type"></app-cards>
      </div>
      <ng-template #showResult>
        <div *ngIf="result?.nbHits === 0; else matched">
          <p>検索結果がありません</p>
        </div>
        <ng-template #matched>
          <app-cards [problems]="result?.hits"></app-cards>
        </ng-template>
      </ng-template>
    </mat-tab>
    <mat-tab label="名詞">
      <div *ngIf="!isQuery; else showResult">
        <app-cards [problems]="problems" [type]="type"></app-cards>
      </div>
      <ng-template #showResult>
        <div *ngIf="result?.nbHits === 0; else matched">
          <p>検索結果がありません</p>
        </div>
        <ng-template #matched>
          <app-cards [problems]="result?.hits"></app-cards>
        </ng-template>
      </ng-template>
    </mat-tab>
    <mat-tab label="動詞">
      <div *ngIf="!isQuery; else showResult">
        <app-cards [problems]="problems" [type]="type"></app-cards>
      </div>
      <ng-template #showResult>
        <div *ngIf="result?.nbHits === 0; else matched">
          <p>検索結果がありません</p>
        </div>
        <ng-template #matched>
          <app-cards [problems]="result?.hits"></app-cards>
        </ng-template>
      </ng-template>
    </mat-tab>
    <mat-tab label="形容詞">
      <div *ngIf="!isQuery; else showResult">
        <app-cards [problems]="problems" [type]="type"></app-cards>
      </div>
      <ng-template #showResult>
        <div *ngIf="result?.nbHits === 0; else matched">
          <p>検索結果がありません</p>
        </div>
        <ng-template #matched>
          <app-cards [problems]="result?.hits"></app-cards>
        </ng-template>
      </ng-template>
    </mat-tab>
    <mat-tab label="副詞">
      <div *ngIf="!isQuery; else showResult">
        <app-cards [problems]="problems" [type]="type"></app-cards>
      </div>
      <ng-template #showResult>
        <div *ngIf="result?.nbHits === 0; else matched">
          <p>検索結果がありません</p>
        </div>
        <ng-template #matched>
          <app-cards [problems]="result?.hits"></app-cards>
        </ng-template>
      </ng-template>
    </mat-tab>
    <mat-tab label="前置詞">
      <div *ngIf="!isQuery; else showResult">
        <app-cards [problems]="problems" [type]="type"></app-cards>
      </div>
      <ng-template #showResult>
        <div *ngIf="result?.nbHits === 0; else matched">
          <p>検索結果がありません</p>
        </div>
        <ng-template #matched>
          <app-cards [problems]="result?.hits"></app-cards>
        </ng-template>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
