@import 'variables';
@import 'mixins';

.wrapper {
  background-color: #f9fbfe;
}

.search {
  &__form {
    background-color: #fff;
    border: 1px solid rgba(black, 0.12);
    border-radius: 8px;
    height: 36px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 24px;
    display: flex;
  }
  &__search-button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 34px;
    color: #9e9c9c;
    display: flex;
    align-items: center;
  }
  &__input {
    appearance: none;
    color: $color-font;
    border: none;
    padding: 0 -24px 0 16px;
    margin: 0;
    outline: none;
    flex: 1;
    border-radius: 8px;
  }
  ::placeholder {
    color: rgba($color-font, 0.3);
  }
}

.main {
  margin: 0 auto;
}
