<div class="container">
  <div class="inner">
    <div class="my-profile" *ngIf="user$ | async as user">
      <h2 class="heading">プロフィール情報</h2>
      <div class="profile">
        <label
          for="uploadImage"
          [style.background-image]="'url(' + user.avatarURL + ')'"
          class="profile__image"
        >
          <div class="profile__mark">
            <mat-icon class="profile__cameraIcon">add_a_photo</mat-icon>
          </div>
        </label>
        <input
          id="uploadImage"
          type="file"
          accept=".png, .jpg, .jpeg"
          class="profile__file"
          (change)="openCropDialog($event)"
          #imageSelecter
        />
        <div class="profile__user">
          <p class="profile__username">ユーザー名</p>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="userName" (change)="nameChanged()" />
            <mat-error *ngIf="userName.hasError('required')">
              ユーザー名を入力してください
            </mat-error>
          </mat-form-field>
        </div>
        <button
          [disabled]="!isUpdated"
          class="profile__button"
          mat-raised-button
          (click)="updateUserName()"
        >
          更新する
        </button>
      </div>
    </div>

    <div class="service-setting">
      <h2 class="heading">サービスのご利用状況</h2>
      <div class="service">
        <div class="flex">
          <p>プラン</p>
          <p class="service__status">
            有料会員　<a class="service__link" routerLink="/payment">変更する</a
            >　
          </p>
        </div>
        <hr class="service-setting__border" />
        <div class="flex">
          <p>お支払い方法</p>
          <div class="payment-method">
            <p>
              ****_****_****_****　<a
                class="payment-method__link"
                routerLink="/payment-method"
                >変更する</a
              >　
            </p>
          </div>
          <ng-template #freeplanuser>
            <p class="service__status">
              フリープラン<a class="service__link" routerLink="/plans"
                >変更する</a
              >　
            </p>
          </ng-template>
        </div>
      </div>

      <div class="withdrawal">
        <button
          (click)="openWithdrawalDialog()"
          mat-raised-button
          class="withdrawal__button"
        >
          退会する
        </button>
      </div>
    </div>
  </div>
</div>
