.container {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}

.inner {
  width: 880px;
  margin: 0 auto;
}

.heading {
  font-size: 24px;
  color: #15c399;
}

.my-profile {
  border-color: #e0e0e0;
  border-radius: 5px;
  width: 800px;
  margin-top: 40px;
}

.profile {
  border: 1px solid rgba(black, 0.05);
  display: flex;
  align-items: center;
  background-color: #fafffe;
  padding: 20px 0;
  &__image {
    height: 80px;
    width: 80px;
    background-size: cover;
    margin: 0 40px 0 16px;
    background-position: center;
    border-radius: 50%;
  }
  &__username {
    padding: 0;
    margin: 0;
  }
  &__button {
    margin-left: 40px;
  }
  &__file {
    display: none;
  }
}

.account {
  display: flex;
  padding-top: 20px;
  &__icon {
    width: 24px;
    height: 24px;
  }
  &__name {
    padding-left: 20px;
    margin: 0px;
  }
  &__status {
    padding-left: 100px;
    margin: 0px;
  }
}

.service-setting {
  margin-top: 40px;
  width: 800px;
  &__border {
    border: 1px dotted rgba(black, 0.12);
  }
}

.service {
  border: 1px solid rgba(black, 0.05);
  padding: 20px;
  background-color: #fafffe;
  &__logo {
    color: #15c399;
    font-size: 24px;
    margin: 0px;
  }
  &__cancell-button {
    margin-left: 200px;
  }
  &__status {
    margin-left: 200px;
  }
  &__link {
    text-decoration: none;
    color: #15c399;
  }
}

.flex {
  display: flex;
}

.payment-method {
  margin-left: 150px;
  &__link {
    text-decoration: none;
    color: #15c399;
  }
}

.payment-history {
  margin-left: 150px;
  &__link {
    text-decoration: none;
    color: #15c399;
  }
}

.payment-icon {
  width: 24px;
  height: 24px;
  padding-left: 100px;
  padding-right: 10px;
}

.withdrawal {
  text-align: right;
  margin: 0 auto;
  margin-top: 40px;
  &__button {
    margin-right: 80px;
  }
}
