<div class="container">
  <div class="inner">
    <div class="my-profile" *ngIf="user$ | async as user">
      <h2 class="heading">プロフィール情報</h2>
      <div class="profile">
        <img [src]="user.avatarURL" alt="" class="profile__image" />
        <div class="profile__user">
          <p class="profile__username">ユーザー名</p>
          <mat-form-field class="example-full-width">
            <input matInput [value]="user.name" />
          </mat-form-field>
        </div>
        <button
          [disabled]="!isUpdated"
          class="profile__button"
          mat-raised-button
        >
          更新する
        </button>
      </div>
    </div>

    <div class="service-setting">
      <h2 class="heading">サービスのご利用状況</h2>
      <div class="service">
        <p class="servive__paid">有料会員</p>
        <div class="flex">
          <p class="service__logo">blanky</p>
          <button class="service__cancell-button" mat-raised-button>
            解約する
          </button>
        </div>
        <div class="flex">
          <p class="service__payment-method">お支払い方法</p>
          <img
            class="payment-icon"
            src="assets/images/mc_symbol_opt_45_1x.png"
            alt=""
          />
          <div class="payment-information">
            <p class="payment-information__number">
              ****_****_****_****　　変更する
            </p>
            <p>次回ご請求日：20**年*月*日</p>
          </div>
        </div>
      </div>
    </div>

    <div class="withdrawal">
      <button
        (click)="openWithdrawalDialog()"
        mat-raised-button
        class="withdrawal__button"
      >
        退会する
      </button>
    </div>
  </div>
</div>
