@import 'variables';

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: $color-background;
  font-family: $font-base;
  color: $color-font;
}

a {
  color: $color-font;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure {
  padding: 0;
  margin: 0;
}

.mat-tab-label-content {
  color: $color-font !important;
}
