.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  min-height: calc(100vh - 120px);
  padding: 140px 24px 120px 24px;
  @include sm {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    padding: 140px 16px 120px 16px;
  }
}
