$width-base: 1200px;
$width-main: 800px;
$width-side: 360px;

$font-base: Roboto, 'Helvetica Neue', sans-serif;
$font-logo: 'Ubuntu', sans-serif;

$color-main: #009688;
$color-sub: #80cbc4;
$color-accent: #fdd835;
$color-font: #0e101a;
$color-background: #fff;
