$width-base: 1200px;
$width-main: 800px;
$width-side: 360px;

$font-base: Roboto, 'Helvetica Neue', sans-serif;
$font-logo: 'Lora', serif;

$color-main: #009688;
$color-sub: #80cbc4;
$color-accent: #fdd835;
$color-warn: #f44336;
$color-font: #0e101a;
$color-background: #fff;
$color-footer: #e1e1e6;
$color-search: #9e9c9c;
$color-border: #dcdee0;
