.footer {
  position: relative;
  background: #f4f4f5;
  padding: 80px;
}

.footer-link {
  display: flex;
}

.link {
  padding: 2px 20px　2px 0px;
}

.copyright {
  position: absolute;
  bottom: 0;
}
