<header class="logout-header">
  <hr />
  <mat-toolbar>
    <span><h1 routerLink="./" routerLinkActive="active">blanky</h1></span>
    <span class="header-spacer"></span>
    <button mat-raised-button class="registration-button">新規登録</button>
    <button mat-raised-button>ログイン</button>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-link">
    <a routerLink="/terms" routerLinkActive="active" class="link">利用規約</a>
    <a routerLink="/privacy" routerLinkActive="active" class="link"
      >プライバシーポリシー</a
    >
    <a class="link">お問い合わせ</a>
  </div>
  <div class="copyright">
    <p class="copyright-setence">copyright(C) tatsuyaSSK All rights reserved</p>
  </div>
</footer>
