<div class="useContainer">
  <h2 class="title">
    たった <span class="underline">3STEP</span>で学習を始められます
  </h2>
  <section class="use">
    <div class="use__use1Image">
      <img
        class="use__image"
        src="/assets/images/undraw_Add_files_re_v09g.svg"
        alt="使い方説明画像1"
      />
    </div>
    <div class="use__use2Image">
      <img
        class="use__image"
        src="/assets/images/undraw_check_boxes_m3d0.svg"
        alt="使い方説明画像2"
      />
    </div>
    <div class="use__use3Image">
      <img
        class="use__image"
        src="/assets/images/undraw_studying_s3l7.svg"
        alt="使い方説明画像3"
      />
    </div>
    <div class="use__use1Description">
      <div class="use__description">
        <p class="use__number">1</p>
        <h3 class="use__heading">学習に使用したい英文をアップロード</h3>
        <p class="use__text">
          あなたの好きな小説の一節、好きなハリウッド俳優の独占インタビューなど、あなたが学習に使いたい英文をコピー、アップロードしてください
        </p>
      </div>
    </div>
    <div class="use__use2Description">
      <div class="use__description">
        <p class="use__number">2</p>
        <h3 class="use__heading">問題形式を選択</h3>
        <p class="use__text">
          名詞だけを覚えたい、形容詞を集中的に勉強したいそんな要望に合わせ、英語問題をどのような形式で作成するか指定することができます
        </p>
      </div>
    </div>
    <div class="use__use3Description">
      <div class="use__use2Description">
        <div class="use__description">
          <p class="use__number">3</p>
          <h3 class="use__heading">作成したオリジナルの穴埋め問題に取り組む</h3>
          <p class="use__text">
            問題を作成したら、早速作成した問題に取り組みましょう。和訳もついているので、参考にしながら解き進めることができます
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
