<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="title-input" appearance="outline">
      <mat-label>タイトル</mat-label>
      <input
        formControlName="title"
        placeholder="タイトルを入力してください（40字以内）"
        type="text"
        matInput
        autocomplete="off"
      />
      <mat-error *ngIf="titleControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="titleControl.hasError('maxlength')"
        >長すぎます</mat-error
      >
    </mat-form-field>

    <mat-form-field class="sentence-input" appearance="outline">
      <mat-label>英文</mat-label>
      <textarea
        formControlName="sentence"
        placeholder="英文を入力してください（1000字以内）"
        type="text"
        matInput
        autocomplete="off"
        matTextareaAutosize
        [matAutosizeMinRows]="10"
        [matAutosizeMaxRows]="20"
      ></textarea>
      <mat-error *ngIf="sentenceControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="sentenceControl.hasError('maxlength')"
        >長すぎます</mat-error
      >
    </mat-form-field>
    <div class="format">
      <p class="label">問題形式</p>
      <div class="checkbox" formGroupName="types">
        <mat-checkbox class="checkbox__item" formControlName="random"
          >ランダムに空白</mat-checkbox
        >
        <mat-checkbox class="checkbox__item" formControlName="noun"
          >名詞のみ空白</mat-checkbox
        >
        <mat-checkbox class="checkbox__item" formControlName="verb"
          >動詞のみ空白</mat-checkbox
        >
        <mat-checkbox class="checkbox__item" formControlName="adjective"
          >形容詞のみ空白</mat-checkbox
        >
        <mat-checkbox class="checkbox__item" formControlName="adverb"
          >副詞のみ空白</mat-checkbox
        >
        <mat-checkbox class="checkbox__item" formControlName="preposition"
          >前置詞のみ空白</mat-checkbox
        >
      </div>
    </div>

    <div class="submit">
      <button
        [disabled]="form.invalid || !valid"
        mat-raised-button
        class="create-button"
      >
        作成する
      </button>
    </div>
  </form>
</div>
