.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  width: 960px;
}

.box {
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 3px #ccc;
  width: 100%;
  max-width: 800px;
  padding: 16px;
  &__item {
    color: #15c399;
  }
  &__input-field {
    width: 80px;
  }
  &__button {
    background: #15c399;
    color: white;
    text-align: center;
    margin: 0px 60px;
  }
  &__question-num {
    color: #15c399;
    padding-left: 35px;
  }
}

.button-layout {
  margin: 40px 0px 16px 0px;
  text-align: center;
}

.accuracy-box {
  display: flex;
  align-items: center;
  &__string {
    padding-left: 24px;
  }
  &__percentage {
    font-size: 40px;
    color: #15c399;
  }
}

.word {
  margin-left: 10px;
}

.correct {
  margin-left: 10px;
  color: #15c399;
  font-weight: bold;
}

.incorrect {
  margin-left: 10px;
  color: #ff3d00;
  font-weight: bold;
}
