@import 'variables';
@import 'mixins';

.answer {
  &__block {
    margin-bottom: 40px;
  }
  &__heading {
    font-size: 24px;
    color: $color-font;
    margin-bottom: 16px;
    @include sm {
      font-size: 20px;
    }
  }
  &__word {
    display: inline-block;
    margin-right: 0.4em;
    margin-bottom: 0.6em;
    @include sm {
      font-size: 12px;
    }
  }
  &__buttonBlock {
    width: 100%;
    text-align: center;
  }
  &__inputWrapper {
    display: inline-block;
    margin-right: 0.5em;
  }
  &__inputField {
    width: 100%;
    position: relative;
  }
  &__correctInput {
    color: $color-main;
    font-weight: bold;
    font-size: 16px;
    font-family: $font-base;
    display: inline-block;
    margin-bottom: 0.6em;
    width: 100%;
    border: 0;
    border-bottom: 2.5px solid $color-main;
    background-color: transparent;
    @include sm {
      font-size: 12px;
      margin-bottom: 0.8em;
    }
  }
  :focus {
    outline: none;
  }
  &__incorrectInput {
    color: $color-warn;
    font-weight: bold;
    font-size: 16px;
    font-family: $font-base;
    display: inline-block;
    margin-bottom: 0.6em;
    width: 100%;
    border: 0;
    border-bottom: 2.5px solid $color-warn;
    background-color: transparent;
    @include sm {
      font-size: 12px;
      margin-bottom: 0.8em;
    }
  }
  :focus {
    outline: none;
  }
  &__button {
    margin-right: 80px;
    @include sm {
      margin-right: 20px;
    }
  }
  &__acuuracyBlock {
    margin-bottom: 80px;
  }
  &__rate {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__accuracyRate {
    padding: 6px;
    font-size: 36px;
    font-weight: bold;
    color: $color-accent;
  }
  &__progressBar {
    margin: 0 auto;
    width: 60%;
    height: 20px;
    border-radius: 20px;
  }
}
